/* 
    Document   : StandartStyles
    Created on : 18/05/2013, 15:37:22
    Author     : root
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family:arial,helvetica,sans-serif;
    background-color: #ffffff;
}

p {
    text-align: justify;
    font-size: 15px;
}


#wrapper {
    padding-left: 11%;
    padding-right: 11%;
    width:79%;
}

#header {
    height:126px;
}
#content {
    margin-top:10px;
    padding-bottom:10px;
}

#content-right {
    border:1px solid #bbb;
    width:31%;
}
#content-main {
    border:1px solid #bbb;
    width: 68%;
}
#footer {
    float:left;
    margin-top:10px;
    margin-bottom:10px;
    border:1px solid #bbb;
    width:1020px;
}
#bottom {
    clear:both;
    text-align:right;
}
#navigation {
    margin-top: 10px;
    height: 50px;
}

.menu {
    width: 100px;
    background-color: #3399ff;
    margin-right: 10px;
    height: 30px;
    float: left;
    text-align: center;
    padding-top: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
}


.menu:hover {
    background-color: red;
}

